@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" style="height: 500px;">
            <div class="carousel-item active">
                <img src="~/images/img-1.jpg" class="d-block w-100" alt="...">
            </div>
        </div> 
    </div>



<div class="text-center">
    <h1 class="display-4" style="font-weight:bold;margin-top:30px;">Welcome to MekinaCom</h1>
    <p style="margin-left:30px;margin-right:30px;margin-top:100px;font-weight:700;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet ullamcorper libero, 
        ac placerat enim. Integer at enim quis nisl hendrerit pretium. Fusce non libero turpis. 
        Duis blandit leo ut lacus dignissim tempor. Ut egestas diam lectus, eu vulputate enim semper vel.
        Pellentesque commodo felis elit, eu venenatis nisl tempor vitae. Mauris vel aliquam sapien, vitae
        vulputate magna. Duis id ante sed lorem condimentum eleifend. Praesent vitae nibh eget ex convallis 
        eleifend. Nulla sit amet viverra augue. Donec commodo purus fringilla elit pellentesque, et porttitor
        ipsum lobortis. Mauris a nulla magna. Nam volutpat metus sed felis sagittis, a auctor neque laoreet. 
        Aliquam varius faucibus odio. Proin vitae dolor eros. Ut rutrum nulla et ex consectetur porttitor.</p>
</div>
<div style="margin-top:70px;">
    <h1></h1>
</div>
